
{% extends 'baseback.html.twig' %}


{% block body %}






<div class="example-wrapper">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Vehicule</h4>
            <p class="card-description"> Gestion de <code>Vehicule</code>

<br>

<center>
    <h1>Liste Des Vehicules</h1>
    </center>
    <br>
    <br>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Marque</th>
                <th>Disponible</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for vehicule in vehicules %}
            <tr>
                <td>{{ vehicule.id }}</td>
                <td>{{ vehicule.marque }}</td>
                <td>{{ vehicule.disponible ? 'Yes' : 'No' }}</td>
                <td>
                    <a class="btn btn-sm btn-success" href="{{ path('app_vehicule_show', {'id': vehicule.id}) }}">Afficher</a>
                    <a class="btn btn-sm btn-danger" href="{{ path('app_vehicule_edit', {'id': vehicule.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
            <a class="btn btn-round btn-facebook" href="{{ path('stats') }}">Statisqtiques</a>
                <a class="btn btn-round btn-facebook" href="{{ path('app_map') }}">Maps</a>


    </table>

    <a class="btn btn-round btn-facebook" href="{{ path('app_vehicule_new') }}">Ajouter</a>
    {% for message in app.flashes('info') %}
        <div class="alert alert-success">
        {{message}}
    {% endfor %}
    {% for message in app.flashes('del') %}
        <div class="alert alert-danger">
        {{message}}
    {% endfor %}
       {% for message in app.flashes('mod') %}
        <div class="alert alert-warning">
        {{message}}
    {% endfor %}
{% endblock %}
