{% extends 'baseback.html.twig' %}

{% block title %}List_Reclamation {% endblock %}

{% block body %}
    
    <br>
<br>
<br>
<br>
<center>
<h1>Reclamations</h1>
</center>
<br>
<br>
             <a class="btn btn-danger"href="{{ path('app_reclamation_listr') }}">pdf</a>
              <a class="btn btn-danger"href="{{ path('app_reclamation_statisreclamation') }}">Exel</a>


    <table class="table" >
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Tel</th>
                <th>Etat</th>
                <th>Description</th>
                <th>Date_reclamation</th>
                <th>Type</th>
                 <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamations %}
            <tr>
                <td>{{ reclamation.id }}</td>
                <td>{{ reclamation.nom }}</td>
                <td>{{ reclamation.prenom }}</td>
                <td>{{ reclamation.email }}</td>
                <td>{{ reclamation.tel }}</td>
                <td>{{ reclamation.etat }}</td>
                <td>{{ reclamation.description }}</td>
                <td>{{ reclamation.dateReclamation ? reclamation.dateReclamation|date('Y-m-d') : '' }}</td>
                <td>{{ reclamation.type.type }}</td>
                <td>
                    <a class="btn btn-success" href="{{ path('app_reclamation_show', {'id': reclamation.id}) }}">Afficher</a>
                    <a class="btn btn-danger"href="{{ path('app_reclamation_edit', {'id': reclamation.id}) }}">Modifier</a>

                </td>
                
            </tr>

        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
