
{% block body %}
    
    <br>
<br>
<br>
<br>
<center>
<h1 align="center" >Reclamations</h1>
</center>
<br>
<br>

    <table class="table" align="center">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Tel</th>
                <th>Etat</th>
                <th>Description</th>
                <th>Date_reclamation</th>
               
            </tr>
        </thead>
        <tbody>
        {% for reclamation in reclamations %}
            <tr>
                <td>{{ reclamation.id }}</td>
                <td>{{ reclamation.nom }}</td>
                <td>{{ reclamation.prenom }}</td>
                <td>{{ reclamation.email }}</td>
                <td>{{ reclamation.tel }}</td>
                <td>{{ reclamation.etat }}</td>
                <td>{{ reclamation.description }}</td>
                <td>{{ reclamation.dateReclamation ? reclamation.dateReclamation|date('Y-m-d') : '' }}</td>
                
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
