{# {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }} #}



{{ form_start(form,{'attr':{'novalidate':'novalidate'}}) }}
{{ form_label(form.label_outils,"Nom outil") }} 
    {{ form_widget(form.label_outils,{'attr': {'class':'form-control'}}) }} 
     {{ form_errors(form.label_outils) }} 

     {{ form_label(form.quantite,"Quantite") }} 
    {{ form_widget(form.quantite,{'attr': {'class':'form-control'}}) }} 
     {{ form_errors(form.quantite) }}   
   
   {{ form_label(form.imageFile,"image outil") }}  
       {{ form_widget(form.imageFile,{'attr': {'class':'form-control'}}) }}  
          {{ form_errors(form.imageFile) }}   
    
 <button class="btn btn-success">{{ button_label|default('Create') }}</button>
     {{ form_end(form) }}