{% extends 'baseback.html.twig'%}

{% block title%}Outils index {%endblock%}

{% block body %}

    <h1>Outils </h1>
    
    {% for message in app.flashes('info') %}
        <div class="alert alert-success">
        {{message}}
    {% endfor %}
    {% for message in app.flashes('del') %}
        <div class="alert alert-danger">
        {{message}}
    {% endfor %}
       {% for message in app.flashes('mod') %}
        <div class="alert alert-warning">
        {{message}}
    {% endfor %}
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom outil</th>
                <th>Quantite</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for outil in outils %}
            <tr>
                <td>{{ outil.id }}</td>
                <td>{{ outil.labelOutils }}</td>
                <td>{{ outil.quantite }}</td>
                <td><img id="img"  class="card-img-top img-fluid" style="height: 150px; width:250px;" src="/uploads/{{outil.image}}"></td>
                <td>
                    <a class="btn btn-success" href="{{ path('app_outils_show', {'id': outil.id}) }}">show</a>
                    <a class="btn btn-danger" href="{{ path('app_outils_edit', {'id': outil.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class= "btn" href="{{ path('app_outils_new') }}">Create new</a>


    {# <div class="pagination " text-align: "center" >
    <td colspan="2" align="center">
    {{ knp_pagination_render(outils) }}
<td>
     </div> #}
       <div class="d-flex justify-content-center">
  {% do outils.SetPageRange(2) %}
  {{ knp_pagination_render(outils, "outils/pagination.html.twig") }}
</div>
 

{% endblock %}
{% block style %}
{% endblock %}
