{% extends 'baseback.html.twig' %}


{% block body %}
    <h1>Document index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>name</th>
                <th>image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for document in documents %}
            <tr>
                <td>{{ document.id }}</td>
                <td>{{ document.name }}</td>
                <td><td><img id="img"  class="card-img-top img-fluid" style="height: 150px; width:250px;" src="/uploads/{{document.image}}"></td></td>
                
                <td>
                    <a class="btn btn-success" href="{{ path('app_document_show', {'id': document.id}) }}">show</a>
                    <a  class="btn btn-danger" href="{{ path('app_document_edit', {'id': document.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('app_document_new') }}">Create new</a>
{% endblock %}
