{% extends 'baseback.html.twig' %}
{% block titre %}
	<title>
		Utilisateurs
	</title>
{% endblock %}

{% block body %}
	<br>
	<br>
	<br>
	<br>
	<center>
		<h1>Liste des utilisateurs</h1>
	</center>

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Email</th>
				<th>Roles</th>
				<th>Nom_Util</th>
				<th>Prenom_Util</th>
				<th>Tel</th>
				<th>Adresse</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for user in users %}
				<tr>
					<td>{{ user.id }}</td>
					<td>{{ user.email }}</td>
					<td>{{user.roles}}</td>
					<td>{{ user.nomUtil }}</td>
					<td>{{ user.prenomUtil }}</td>
					<td>{{ user.tel }}</td>
					<td>{{ user.adresse }}</td>
					<td>
						<a href="{{ path('app_user_show', {'id': user.id}) }}" class="btn btn-primary"	>show</a>
						<a href="{{ path('app_user_edit', {'id': user.id}) }}" class="btn btn-secondary">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="9">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_user_new') }}" class="btn btn-success">Create new</a>
{% endblock %}
