{% extends 'baseback.html.twig' %}
{% block titre %}
	<title>
		Utilisateurs
	</title>
{% endblock %}
{% block body %}
    <br>
	<br>
	<br>
	<br>
	<center>
		<h1>Liste des utilisateurs</h1>
	</center>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>NomUtil</th>
                <th>PrenomUtil</th>
                <th>Tel</th>
                <th>Adresse</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.nomUtil }}</td>
                <td>{{ user.PrenomUtil }}</td>
                <td>{{ user.tel }}</td>
                <td>{{ user.adresse }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_user_show', {'id': user.id}) }}">show</a>
                    <a class="btn btn-secondary" href="{{ path('app_user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('app_user_new') }}">Ajouter Utilisateur</a>
{% endblock %}
